ul {
	padding-left: 0.5em;
	margin-left: 1em;
}

#quicknav
{
	padding: 0 0 0.5em 0;
	margin: 0;
	width: 100%;
}


#quicknav li
{
	padding: 0;
	margin: 0;
	list-style-type: none;
}



#ntnuheader,
.footer,
.meta,
#ntnufooter,
#quicknav_globalnav,
#quicknav_content,
.printOnly
{
	display: none;
}

