#menu {
	width: __menu_width__;
	margin-left: 2em;
	margin-bottom: 1.5em;
}

#menu h1,
#menu h2 {
	font-weight: bold;
	font-size: 1em;
	line-height: 3em;
}

#menu ul {
	padding: 0;
	margin: 0 0 1.5em 0;
	list-style: none;
}

#menu ul li ul,
#menu ul li ul li ul {
	padding-left: 1em;
	margin: 0;
}

#menu li a {
	color: __text__;
	text-decoration: none;
	display: block;
	background: url(images/bullet.png) .3em .4em no-repeat;
	padding: 0 0 0 1.5em;
}

#menu li li a {
	background-image: url(images/subbullet.png);
}

#menu li li li a {
	background-image: url(images/subbullet.png);
}

#menu li li li li a{
	background-image: url(images/subsubbullet.png);
}

#menu a em.current {
	background: __border__;
	border: 1px solid __ntnu3__;
	padding-right: 0.2em;
	padding-left: 0.2em;
	font-style: normal;
}