div.sidebar {
	width: __sidebar_width__;
	margin-bottom: 1em;
}


div.sidebar div.padder {
	padding-right: 1em;
}

div.sidebar hr {
	margin: 0;
	padding: 0;
	border-top: 1px dashed __ntnu3__;
}

/* definition lists */

div.sidebar dl {
	padding: 0;
}

div.sidebar dt {
	font-weight: normal;
	text-decoration: underline;
}

div.sidebar dd {
	margin-left: 1em;
	padding-bottom: .3em;
}

div.sidebar dd p {
}