/* Top bar (bluebar which really is black) */

#bluebarwrap {
	padding-bottom: .4em;
	width: 100%;
	min-width: __body_width__;
	overflow: hidden;
}

#bluebar {
	background-color: __text__;
	-moz-box-shadow: 0 0 .5em -.1em __text__;
	border-top: 4px solid __ntnublue__;
}

#bluebar #bluebarinner {
	margin: 0 auto;
	width: __page_width__;
	padding: .4em 0;
}

#bluebar h1 {
	float: left;
	margin: 0;
	font-size: 1.2em;
	line-height: 1.1;
	letter-spacing: 1px;
	font-variant: small-caps;
}

#bluebar h1 a {
	display: block;
	position: absolute;
	height: 9em;
}

#bluebar ul {
	float: right;
	margin: 0;
}

#bluebar li {
	float: left;
	margin: 0 .9em;
	padding: 0 .3em;
	color: __ntnublue__;
}

#bluebar a {
	text-decoration: none;
	color: __background__ !important;
}

#bluebar li:first-child {
	list-style: none;
}

#bluebar li:last-child {
	padding-right: .2em;
	margin-right: 0;
}

/* Trick to hide the selector for browsers not understanding > */

#mainaltlang>a {
	display: none;
}

#languageselector span {
	display: none;
}

#languageselector>span {
	display: inline;
}

/* end trick */

#languageselector {
	position: absolute;
	width: auto;
}

#languageselector>span {
	color: __text__;
	padding: .2em 1.3em .2em .5em;
	border: 1px solid __border_dark__;
	background: __background__ url(images/droparrow-soft.gif) 100% 50% no-repeat;
	cursor: pointer;
	display: block;
	width: 8em;
}

#languageselector:hover>span {
	border: 1px solid __text__;
	background-image: url(images/droparrow.gif);
}

#languageselector ul {
	background-color: __background__;
	border: 1px solid __text__;
	position: relative;
	top: -1px;
	display: none;
	list-style: none;
	margin: 0;
}

#languageselector:hover> ul {
	display: block;
}

#languageselector ul li {
	padding: 0;
	display: block;
	z-index: 500;
}

#languageselector ul li:hover {
	background-color: __ntnu3__;
}

#languageselector ul li a {
	padding: .2em .5em;
	display: block;
	text-decoration: none;
}

#languageselector ul li:hover a {
	color: __background__;
}

#languageselector ul li.current {
	border-top: 1px solid __text__;
}

/* Main tab menu */

#ntnumenuwrap {
	width: __page_width__;
	margin: 0 auto;
	margin-top: 2em;
	border-style: solid;
	border-color: __border_dark__;
	border-width: 1px 1px 0 1px;
	-moz-box-shadow: 0 .25em .5em -.15em __border_dark__;
	background: __border_light__ url(images/menu-gradient.png) 0 0 repeat-x;
	text-align: center;
}

#ntnumenu {
	margin: 0;
	width: 100%;
	list-style: none;
	background: url(images/blueline.png) 0 100% repeat-x;
	display: table;
}

#ntnumenu li {
	padding-bottom: 1px;
	display: table-cell;
}

#ntnumenu li a {
	padding: .4em 1em;
	text-decoration: none;
	font-weight: bold;
	display: block;
	border-right: 1px solid __border_dark__;
}

/* The selected tab of the NTNU menu */
#ntnumenu.selectedtab_start 		li#tab_start,
#ntnumenu.selectedtab_studier	 	li#tab_studier,
#ntnumenu.selectedtab_student 	li#tab_student,
#ntnumenu.selectedtab_evu 			li#tab_evu,
#ntnumenu.selectedtab_forskning 	li#tab_forskning,
#ntnumenu.selectedtab_non 			li#tab_non,
#ntnumenu.selectedtab_om 			li#tab_om,
#ntnumenu.selectedtab_aktuelt	 	li#tab_aktuelt,
#ntnumenu.selectedtab_home 		li#tab_home,
#ntnumenu.selectedtab_studies 	li#tab_studies,
#ntnumenu.selectedtab_living 		li#tab_living,
#ntnumenu.selectedtab_research 	li#tab_research,
#ntnumenu.selectedtab_bai 			li#tab_bai,
#ntnumenu.selectedtab_about 		li#tab_about,
#ntnumenu.selectedtab_contact 	li#tab_contact{
	margin-left: -1px;
	margin-right: -1px;
	border-style: solid;
	margin-top: -4px;
	border-width: 4px 1px 0 1px;
	border-color: __ntnublue__;
	display: block;
}

#ntnumenu.selectedtab_start 		li#tab_start a,
#ntnumenu.selectedtab_studier 		li#tab_studier a,
#ntnumenu.selectedtab_student 	li#tab_student a,
#ntnumenu.selectedtab_evu 			li#tab_evu a,
#ntnumenu.selectedtab_forskning 	li#tab_forskning a,
#ntnumenu.selectedtab_non 			li#tab_non a,
#ntnumenu.selectedtab_om 			li#tab_om a,
#ntnumenu.selectedtab_aktuelt 	li#tab_aktuelt a,
#ntnumenu.selectedtab_home 		li#tab_home a,
#ntnumenu.selectedtab_studies 	li#tab_studies a,
#ntnumenu.selectedtab_living 		li#tab_living a,
#ntnumenu.selectedtab_research 	li#tab_research a,
#ntnumenu.selectedtab_bai 			li#tab_bai a,
#ntnumenu.selectedtab_about 		li#tab_about a,
#ntnumenu.selectedtab_contact 	li#tab_contact a {
	color: __text__;
	background: __background__;
	border: 0;
	padding-bottom: .6em;
	margin-bottom: -.2em;
}

#content {
	margin-bottom: 1.5em;
}

/* Search form */

#searchform {
	width: __page_width__;
	margin: 0 auto;
	text-align: right;
	margin-top: 4em;
}

#searchform fieldset {
	background: __background__;
	border: 1px solid __border_dark__;
	width: 100%;
	padding: 1px;
	bottom: 0;
	width: auto;
	display: inline;
	*padding: 0 1px 1px 1px;
	margin-right: -1px;
}

#searchform .query,
#searchform .submit {
	font: 1.1em Arial, Helvetica, Sans-serif !important;
	vertical-align: middle;
}

#searchform .query {
	border: 1px solid __background__;
	border-right: 0;
	padding: 5px;
	width: 15em;
}

#searchform .submit {
	background: __border_light__ url(images/menu-gradient.png) 0 0 repeat-x;
	border-top: 1px solid __border_light__;
	border-right: 1px solid __border_dark__;
	border-bottom: 1px solid __border_dark__;
	border-left: 1px solid __border_light__;
	font-weight: bold !important;
	line-height: 1.5em !important;
	padding: 5px 12px;
	*padding: 1px 3px;
	text-shadow: 0 1px 0 #fff;
}

#searchform .submit::-moz-focus-inner {
	padding: 0;
	border: 0;
}

/* Footer */

#address {
	text-align: center;
	color: __text_alt__;
	padding: .75em;
}

#ntnufooter {
	width: __page_width__;
	margin: 0 auto;
	background: url(images/logo.footer.no.png) 1.5em 2em no-repeat;
	padding-top: 1.5em;
}

#ntnufooter ul {
	float: left;
	width: auto;
	clear: none;
	list-style: none;
	margin: 0 0 0 5.5em;
}

body.en #ntnufooter ul {
	margin: 0 0 0 4em;
}

#ntnufooter ul li {
	line-height: 2;
	color: __text_alt__;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}

#ntnufooter ul:first-child, body.en #ntnufooter ul:first-child {
	margin-left: 20em;
}

#ntnufooter a {
	text-decoration: none;
}

#ntnufooter li.kart {background-image: url(icons/map.png)}
#ntnufooter li.emner {background-image: url(icons/books.png)}
#ntnufooter li.ledelsen {background-image: url(icons/building.png)}
#ntnufooter li.personsok {background-image: url(icons/cards-address.png)}
#ntnufooter li.nettstedkart {background-image: url(icons/sitemap.png)}
#ntnufooter li.forskning {background-image: url(icons/flask.png)}
#ntnufooter li.enheter {background-image: url(icons/home.png)}
#ntnufooter li.redaktor {background-image: url(icons/stamp.png)}
#ntnufooter li.kontakt {background-image: url(icons/address-book.png)}
#ntnufooter li.fakulteter {background-image: url(icons/bank.png)}
#ntnufooter li.adm {background-image: url(icons/building-low.png)}
#ntnufooter li.studier {background-image: url(icons/document--pencil.png)}
#ntnufooter li.sentralbord {background-image: url(icons/telephone.png)}
#ntnufooter li.orgnr {background-image: url(icons/counter.png)}
#ntnufooter li.rss {background-image: url(icons/feed.png)}
#ntnufooter li.blog {background-image: url(icons/balloon.png)}
#ntnufooter li.twitter {background-image: url(icons/balloon-twitter.png)}


/* General NTNU and Innsida color classes */

.ntnu1 {background-color: __ntnu1__;}
.ntnu2 {background-color: __ntnu2__;}
.ntnu3 {background-color: __ntnu3__;}
.innsida1 {background-color: __innsida1__;}
.innsida2 {background-color: __innsida2__;}
.innsida3 {background-color: __innsida3__;}

/* Utilities */

.printOnly,
.hidden {
	display: none;
}

.offscreen {
	position: absolute;
	height: 1px;
	width: 1px;
	left: -10000em;
	top: auto;
	overflow: hidden;
}

.clearer {
	clear: both;
	height: 0;
	width: 100%;
	border: none;
	font-size: 1px;
	line-height: 0;
}

#bluebar a:focus,
#ntnumenu li a:focus,
#breadcrumbs a:focus,
#menu a:focus,
#ntnufooter a:focus {
	text-decoration: underline !important;
	outline: none;
}

#bluebar a:hover, #bluebar a:active,
#ntnumenu li a:hover, #ntnumenu li a:active,
#breadcrumbs a:hover, #breadcrumbs a:active,
#menu a:hover, #menu a:active,
#ntnufooter a:hover, #ntnufooter a:active {
	text-decoration: none !important;
	outline: none;
}
