.printOnly,
.hidden {
	display: none;
}

.offscreen {
	position: absolute;
	height: 0;
	width: 0;
	left: -1000em;
	top: -1000em;
}

.clearer {
	clear: both;
	height: 0;
	width: 0;
	border: none;
	font-size: 1px;
	line-height: 0;
}
