#sidebar {
	width: __sidebar_width__;
	margin-bottom: 1.5em;
}

#sidebar hr {
	margin: 0;
	padding: 0;
	margin: .75em 0;
	border-top: 1px dotted __ntnu3__;
	margin-top: -1px;
}

/* definition lists in sidebar gets a special treatment */

#sidebar dl {
	padding: 0;
}

#sidebar dd {
	margin-left: 1.5em;
}
